window {
  margin: 5px;
  border: 2px solid #DB9F56;
  border-radius: 3px;
  background-color: #DB9F56;
}

#input {
  border-radius: 2px;
  border: 4px solid #6e6e5e;
  margin: 5px;
}

#input entry {
  background-color: #ff00ff;
}

#inner-box {
  margin: 1px;
  border: 2px solid #2e2e2e;
  background-color: #2e2e2e;
}

#outer-box {
  margin: 3px;
  border: 2px solid #1e1e1e;
  background-color: #1e1e1e;
}

#scroll {
  margin: 5px;
  border: 2px solid #3e3e3e;
  background-color: #3e3e3e;
}

#text {
  margin: 5px 15px;
  border: 0px;
  color: #fefefe;
}

.entry {
  margin: 5px 16px;
}

#entry:selected {
  background-color: #5e5e5e;
}

expander .entry {
  margin: 5px 0px;
}
